---
import Divider from "@components/Divider.astro";
import MainHead from "@components/MainHead.astro";
import Nav from "@components/Nav.astro";
import ProjectIntro from "@components/ProjectIntro.astro";
import ProjectSidebar from "@components/ProjectSidebar.astro";
import type { MDXLayoutProps } from "astro";
import type { FrontMatter } from "src/types";

type Props = MDXLayoutProps<FrontMatter>;
const { frontmatter, headings } = Astro.props;
---

<html lang={frontmatter.lang || "en"}>
  <head>
    <MainHead title={frontmatter.title} description={frontmatter.description} />
  </head>
  <body class="bg-slate-900">
    <Nav />
    {!!frontmatter.image && (
        <div class="project-intro grid grid-cols-2 mx-10 my-5 text-gray-100">
          <ProjectIntro title={frontmatter.title} description={frontmatter.description} tags = {frontmatter.tags} link={frontmatter.link} />
          <div class="flex justify-center align-center">
            <img class="rounded-2xl block" src={frontmatter.image} />
          </div>
        </div>
      )
    }
    {
      !frontmatter.image &&
      (
        <div class = "project-intro flex justify-center mx-10 my-5 text-gray-100">
          <ProjectIntro title={frontmatter.title} description={frontmatter.description} tags = {frontmatter.tags} link={frontmatter.link} />
        </div>
      )
    }
    {
      headings.length > 0 ? (
        <Divider />
        <div
          class={`wrapper ${
            headings.length > 0 ? "grid grid-cols-4 grid-flow-col-dense" : ""
          }`}
        >
          <article class="mdx-content col-span-3 px-10 prose dark:prose-invert">
            <slot />
          </article>
          {headings.length > 0 && <ProjectSidebar headings={headings} />}
        </div>
      ) : (
        null
      )
    }

    <style>
      .hero {
        display: flex;
        background-color: var(--t-fg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 25vw;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-frontmatter: center;
      }

      .tag {
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-transform: uppercase;
      }

      .tag:nth-of-type(1n) {
        color: var(--c-green);
      }
      .tag:nth-of-type(2n) {
        color: var(--c-orange);
      }
      .tag:nth-of-type(3n) {
        color: var(--c-blue);
      }
      .tag:nth-of-type(4n) {
        color: var(--c-pink);
      }
      .leadIn {
        padding-top: 4em;
        color: var(--t-bg);
        background-color: var(--t-fg);
        text-align: center;
      }

      .tagline {
        font-weight: 300;
        font-size: var(--f-u3);
        line-height: 1.5;
      }

      .frontmatter {
        font-size: var(--f-u1);
        line-height: 2.2;
        max-width: 50em;
        margin: auto;
      }

      .wrapper {
        padding-bottom: 4em;
        margin-bottom: 4em;
      }

      footer {
        text-align: center;
        margin-top: 3rem;
      }
    </style>
  </body>
</html>
